.section
  - form_tag url(:sessions, :create), :class => "grid-form", :method => "post" do
    %fieldset
      %legend Login
      %div{:'data-row-span' => '12'}
        %div{:'data-field-span' => '12'}
          %label{:for => "email"} Email
          = email_field_tag :email
      %div{:'data-row-span' => '12'}
        %div{:'data-field-span' => '12'}
          %label{:for => "password"} Password
          = password_field_tag :password
      %footer
        %nav
          %button{:type => "submit"} Login
