%header.section
  %h2 Login
.section
  %form{:action => url(:sessions, :create), :method => "post"}
    %p= email_field_tag :email, :placeholder => "Email"
    %p= password_field_tag :password, :placeholder => "Password"
    %footer
      %p
        %a.btn{:href => url(:users, :new)} Join
        %button.blue{:type => "submit"} Login
