= partial 'partials/flash', :locals => { :flash => flash }
.section
  - form_tag url(:assignments, :update), :class => "grid-form", :method => "patch" do
    = hidden_field_tag :'assignment[id]', :value => @assignment.id
    %fieldset
      %legend
      %div{:'data-row-span' => '12'}
        %div{:'data-field-span' => '12'}
          %label{:for => "assignment[text]"} Assignment
          = text_field_tag :"assignment[text]", :placeholder => "What do you have to do?", :value => @assignment.text
      %div{:'data-row-span' => '12'}
        %div{:'data-field-span' => '6'}
          %label{:for => "assignment[due]"} Due Date
          %input{:type => "date", :name => "assignment[due]", :value => @assignment.due}
        %div{:'data-field-span' => '6'}
          %label{:for => "assignment[course]"} Course
          = select_tag :"assignment[course]", :options => Course.as_options(current_user), :selected => [@assignment.course.name, @assignment.course.id]
      %footer
        %nav
          %button.blue{:type => "submit"} Save
