%article.assignment{:class => assignment.complete, 'data-id' => assignment.id}
  %aside
    / - form_tag url(:assignments, :flux), :method => "patch" do
    /   = hidden_field_tag :'assignment[id]', :value => assignment.id
    - if assignment.complete == true
      %button.flux.uncomplete{:type => "submit"}
        %i.ss-icon close
    - else
      %button.flux.complete{:type => "submit"}
        %i.ss-icon check
  %section
    .text= link_to assignment.text, url(:assignments, :show, :id => assignment.id)
    .meta
      %p
        %span.course= link_to assignment.course.name, url(:courses, :show, :id => assignment.course.id)
        %span.due
          %i.ss-icon clock
          %span{:title => assignment.due.strftime('%A, %B %d, %Y')}= assignment.due_in_words
