%header.section
  %h2 Join
.section
  %form{:action => url(:users, :create), :method => "post"}
    %p= email_field_tag :'user[email]', :placeholder => "Email"
    %p= password_field_tag :'user[password]', :placeholder => "Password"
    %footer
      %p
        %button.blue{:type => "submit"} Join
