= partial 'partials/flash', :locals => { :flash => flash }
.section
  - form_tag url(:users, :create), :class => "grid-form", :method => "post" do
    %fieldset
      %legend Join
      %div{:'data-row-span' => '12'}
        %div{:'data-field-span' => '12'}
          %label{:for => "user[email]"} Email
          = email_field_tag :'user[email]'
      %div{:'data-row-span' => '12'}
        %div{:'data-field-span' => '6'}
          %label{:for => "password[password]"} Password
          = password_field_tag :'password[password]'
        %div{:'data-field-span' => '6'}
          %label{:for => "password[confirm]"} Confirm Password
          = password_field_tag :'password[confirm]'
      %footer
        %nav
          %button{:type => "submit"} Join
