%header.section
  %h2 About
.section
  %p Recall is a simple application that aims to make it easier for students to keep track of their assignments. It is being developed by <a href="http://ethnt.me">Ethan Turkeltaub</a> and is open-source <a href="https://github.com/eturk/recall">on GitHub</a>.
