.hero
  %header
    %h2 Remembering your assignments shouldn't be difficult.
  %section
    %figure
      %i.ss-icon cellphone
      %figcaption
        %h3 See your assignments everywhere
    %figure
      %i.ss-icon notification
      %figcaption
        %h3 Get notified about upcoming assignemnts
    %figure
      %i.ss-icon calendar
      %figcaption
        %h3 Don't waste time, plan ahead
    %figure
      %i.ss-icon list
      %figcaption
        %h3 Organize your assignments
  %nav
    %h4 Sign up now &mdash; it's absolutely free!
    %ul
      %li
        %a.btn{:href => url(:sessions, :new)} Login
      %li
        %a.btn.green{:href => url(:users, :new)} Join
