!!!5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/

    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "initial-scale=1", :name => "viewport"}

    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black-translucent"}

    %meta{:content => "Remembering your assignments shouldn't be hard.", :name => "description"}
    %meta{:content => "Recall", :name => "author"}

    %title Recall

    %link{:href => "/assets/favicon.png", :rel => "icon"}
    %link{:href => "/assets/apple-touch-icon.png", :rel => "apple-touch-icon-precomposed"}

    %link{:href => "/humans.txt", :rel => "author", :type => "text/plain"}
    %link{:href => "/assets/admin.css", :rel => "stylesheet"}

    %script{:src => "//use.typekit.net/uzt6kno.js"}
    :coffeescript
      try
        Typekit.load()
      catch error
        console.log error

      # Keep as standalone
      if ("standalone" of window.navigator) and window.navigator.standalone

        # If you want to prevent remote links in standalone web apps opening Mobile Safari, change 'remotes' to true
        noddy = undefined
        remotes = false
        document.addEventListener "click", ((event) ->
          noddy = event.target

          # Bubble up until we hit link or top HTML element. Warning: BODY element is not compulsory so better to stop on HTML
          noddy = noddy.parentNode  while noddy.nodeName isnt "A" and noddy.nodeName isnt "HTML"
          if "href" of noddy and noddy.href.indexOf("http") isnt -1 and (noddy.href.indexOf(document.location.host) isnt -1 or remotes)
            event.preventDefault()
            document.location.href = noddy.href
          return
        ), false

  %body
    %nav.top-bar{"data-topbar" => ""}
      %ul.title-area
        %li.name
          %h1= link_to "Recall", url(:index)
        %li.toggle-topbar.menu-icon
          %a{href: "#"} Menu
      %section.top-bar-section
        %ul.left
          %li= link_to "Users", url(:users, :index)

    %section{role: "main"}= yield
